body {
    font-family: 'Roboto', sans-serif;
    background-color: #d3d3d3; /* Gameboy grey */
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Improved header styles */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: linear-gradient(135deg, #a8b5a2, #718c5a); /* Gameboy inspired colors */
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.header-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    flex-wrap: wrap;
}

.header-content h1 {
    font-size: 2rem;
    color: #2e3b29; /* Darker Gameboy color */
    margin: 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.header-content p {
    font-size: 1rem;
    color: #e0e0e0;
    margin: 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.header-buttons {
    display: flex;
    gap: 10px;
    align-items: center;
}

#fund-button, #contribute-button {
    background-color: #728c3c; /* Gameboy green */
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#fund-button:hover, #contribute-button:hover {
    background-color: #6b7d33; /* Darker green for hover effect */
}

#contact-link {
    color: #fff;
    font-size: 0.9rem;
    margin-left: 10px;
    text-decoration: none;
}

#contact-link:hover {
    text-decoration: underline;
}

main {
    max-width: 1200px;
    padding: 70px 20px 20px; /* Adjusted top padding to avoid overlap with the fixed header */
    margin: 0 auto;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Filter Buttons */
.filter-buttons {
    text-align: center;
    margin: 10px 0;
}

.filter-button {
    background-color: #728c3c; /* Gameboy green */
    border: none;
    color: white;
    padding: 8px 10px;
    font-size: 0.9rem;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 5px;
    transition: background-color 0.3s ease;
}

.filter-button:hover {
    background-color: #6b7d33; /* Darker green for hover effect */
}

/* App Cards Grid */
.app-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); /* Adjusted min width for smaller gaps */
    gap: 20px;
}

.app-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.app-card:hover {
    transform: translateY(-5px);
}

.app-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    filter: grayscale(100%); /* Make image black and white */
    transition: filter 0.3s ease;
}

.app-card:hover .app-image {
    filter: grayscale(0%); /* Restore color on hover */
}

.app-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.app-content h2 {
    font-size: 1.5rem;
    color: #2e3b29; /* Darker Gameboy color */
    margin-bottom: 10px;
}

.app-content p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
}

.app-content button {
    background-color: #718c5a; /* Gameboy inspired green */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.app-content button:hover {
    background-color: #6b7d33; /* Darker green for hover effect */
}

/* Responsive Design */
@media (max-width: 1130px) {
    main {
        padding: 120px 20px 20px; /* Further increased top padding for mobile */
    }
}

@media (max-width: 768px) {
    main {
        padding: 130px 20px 20px; /* Further increased top padding for mobile */
    }

    .header-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 10px; /* Added padding to center align the content */
    }

    .header-buttons {
        margin-top: 10px;
    }

    .filter-buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0px;
    }

    .app-cards {
        grid-template-columns: 1fr;
        gap: 20px; /* Increase gap for better spacing on small screens */
    }
}

@media (max-width: 480px) {
    main {
        padding: 130px 10px 20px; /* Adjusted top and side padding for mobile */
    }

    .app-cards {
        grid-template-columns: 1fr;
        gap: 40px; /* Further increase gap for better spacing on small screens */
    }
}
