<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snake Game</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/game.css">
</head>

<body>
    <button id="home-btn" onclick="window.location.href='/'">Home</button>
    <button id="instructions-btn" onclick="toggleInstructionsPopup()">Instructions</button>
    
    <div id="game">
        <canvas id="board" width="600" height="600"></canvas>
        <div id="btns">
            <button onclick="startGame(1)">1 player</button>
            <button onclick="startGame(2)">2 players</button>
            <button onclick="startGame(3)">3 players</button>
            <button onclick="startGame(4)">4 players</button>
        </div>
        <div id="scores"></div>
    </div>

    <div id="instructions-popup" class="popup">
        <div class="popup-content">
            <span class="close" onclick="toggleInstructionsPopup()">&times;</span>
            <h2>Controls</h2>
            <p>Player 1: Arrow keys</p>
            <p>Player 2: W (up), A (left), S (down), D (right)</p>
            <p>Player 3: Num pad 8 (up), 4 (left), 5 (down), 6 (right)</p>
            <p>Player 4: U (up), H (left), J (down), K (right)</p>
            <h2>Game Rules</h2>
            <ul>
                <li>Each player starts in their own corner.</li>
                <li>Players compete to eat the red apple.</li>
                <li>When a snake collides with the wall, itself, or another snake, it resets.</li>
                <li>Each player's score resets when they reset.</li>
                <li>The first player to reach 25 points wins the game.</li>
            </ul>
        </div>
    </div>

    <script src="/js/game_v1.js"></script>
</body>

</html>
