<!DOCTYPE html>
<html lang="en">
<head>
    <title>Snake Game Room - <%= roomId %></title>
    <meta name="description" content="Join the Snake game room to play with a friend.">
    <%- include('partials/html_head') %>
    <link rel="stylesheet" href="/css/game_room.css">
</head>
<body>
    <header class="header">
        <div class="header-content">
            <!--<h4>Game Room: <%= roomId %></h4>-->
            <h4 id="status">Waiting for players...</h4>
            <ul id="player-list"></ul>
            <div class="header-buttons">
                <button id="homeButton">Home</button>
                <button id="copy-link-button">Copy Link</button>
                <button id="start-btn">Start Game</button>
            <button id="restart-btn">Reset Game</button>
            </div>
        </div>
    </header>
    <main>
        <div id="game">
            <canvas id="gameCanvas" width="600" height="600"></canvas>
        </div>
        <div class="button-container">
            
        </div>
        <div id="score-container">
            <div class="player-score" id="player1-score">
                <div class="score-circle" style="background-color: #3a71e8;">
                    <span class="score-text">0</span>
                </div>
                <span class="score-label">Player 1</span>
            </div>
            <div class="player-score" id="player2-score">
                <div class="score-circle" style="background-color: #9de83a;">
                    <span class="score-text">0</span>
                </div>
                <span class="score-label">Player 2</span>
            </div>
        </div>
    </main>
    <script src="/js/gm_scripts/1_gameSetup.js"></script>
    <script src="/js/gm_scripts/2_websocketHandlers.js"></script>
    <script src="/js/gm_scripts/3_utilityFunctions.js"></script>
    <script src="/js/gm_scripts/4_gameLogic.js"></script>
    <script src="/js/gm_scripts/5_gameControls.js"></script>
    <script src="/js/gm_scripts/6_rendering.js"></script>
    <script>
        // Copy Link Functionality
        document.getElementById('copy-link-button').addEventListener('click', () => {
            const roomLink = window.location.href;
            navigator.clipboard.writeText(roomLink).then(() => {
                console.log('Link copied to clipboard');
            }).catch(err => {
                console.error('Failed to copy link:', err);
            });
        });

        // Home Button Functionality
        document.getElementById('homeButton').addEventListener('click', () => {
            window.location.href = '/'; // Redirect to home page
        });
    </script>
</body>
</html>
