<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snake Game</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/game.css">
</head>

<body>
    <%- include('partials/navbar') %>
    <div id="game">
        <canvas id="board"></canvas>
        <div id="btns">
            <button onclick="startGame(1)">Start with 1 player</button>
            <button onclick="startGame(2)">Start with 2 players</button>
            <button onclick="startGame(3)">Start with 3 players</button>
            <button onclick="startGame(4)">Start with 4 players</button>
        </div>
        <div id="scores"></div>
    </div>
    <script src="js/game_v1.js"></script>

    <!--
    <div class="game-container">
        <h1>sKeKay</h1>
        <p>Use the arrow keys to move the snake.</p>
        <canvas id="gameCanvas" width="300" height="300"></canvas>
    </div>
    <div id="score-container">
        Score: <span id="score">0</span>
    </div>
    <script src="js/game_v1.js"></script>
    -->
</body>


</html>