<!DOCTYPE html>
<html lang="en">

<head>
    <title>DownBad - Free Webapps by Ali Raza @cloudmaking</title>
    <meta name="description" content="Discover free webapps created by Ali Raza @cloudmaking, including soundboards, games, dynamic screensavers, and more. Enhance your web experience with our interactive tools.">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="canonical" href="https://www.downbad.cloud">
    <meta name="robots" content="index, follow">
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "DownBad - Free Webapps",
      "url": "https://www.downbad.cloud",
      "author": {
        "@type": "Person",
        "name": "Ali Raza"
      },
      "description": "Discover free webapps created by Ali Raza @cloudmaking, including soundboards, games, dynamic screensavers, and more."
    }
    </script>
</head>

<body>
    <div class="hero-section">
        <div class="hero-text">
            <h1>DownBad</h1>
            <p>Free Webapps made by Ali Raza @cloudmaking</p>
        </div>
    </div>
    <main>
        <div class="app-card">
            <img src="images/soundboard.webp" alt="SoundBoard web app" class="app-image">
            <div class="app-content">
                <h2>SoundBoard</h2>
                <p>Assign any sound to a key on your keyboard and play it like a beat pad!</p>
                <button onclick="window.location.href='/soundboard'">Go to SoundBoard</button>
            </div>
        </div>
        <div class="app-card">
            <img src="/images/snake.webp" alt="Snake Local Multiplayer web game" class="app-image">
            <div class="app-content">
                <h2>Snake - Local Multiplayer</h2>
                <p>Classic snake game for up to 4 players.</p>
                <button onclick="window.location.href='/mp_snake'">Play Snake</button>
            </div>
        </div>
        <div class="app-card">
            <img src="/images/ai_snake.webp" alt="Snake vs Computer web game" class="app-image">
            <div class="app-content">
                <h2>Snake vs Computer</h2>
                <p>Challenge the Robotic Snake.</p>
                <button onclick="window.location.href='/ai_snake'">Play vs AI</button>
            </div>
        </div>
        <div class="app-card">
            <img src="/images/firefly.webp" alt="Firefly Dynamic Screensaver" class="app-image">
            <div class="app-content">
                <h2>Firefly - Dynamic Screensaver</h2>
                <p>Enjoy a dynamic firefly screensaver.</p>
                <button onclick="window.location.href='/firefly'">View Screensaver</button>
            </div>
        </div>
        <div class="app-card">
            <img src="/images/pixel_art.webp" alt="Generative Pixel-Art web app" class="app-image">
            <div class="app-content">
                <h2>Generative Pixel-Art</h2>
                <p>Create unique pixel art.</p>
                <button onclick="window.location.href='/pixel_art'">Create Pixel-Art</button>
            </div>
        </div>
        <div class="app-card">
            <img src="images/soundbox.webp" alt="Sound Box web app" class="app-image">
            <div class="app-content">
                <h2>Sound Box</h2>
                <p>Assign any sound to any 10 keys on your Keyboard.</p>
                <button onclick="window.location.href='/soundbox'">Go to Sound Box</button>
            </div>
        </div>
    </main>
</body>

</html>
