<!DOCTYPE html>
<html>

<head>
    <title>DownBad</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/index.css">

</head>

<body>
    <div class="app-header">
        <img src="/images/7.jpg" alt="DownBad Logo" class="logo">
        <h1>DownBad World!</h1>
        <p>This is your capitan Cloud.</p>
        <p>This website is still under construction.</p>
        <p>But you can still visit my <a href="https://www.aliraza.cloud" target="_blank">personal website</a>.</p>
        <div class="game-buttons">
            <button id="game-btn" onclick="window.location.href='/mp_snake'">Snake Game</button>
            <button id="aigame-btn" onclick="window.location.href='/ai_snake'">Snake Game vs AI</button>
        </div>
    </div>
</body>

</html>
