<!DOCTYPE html>
<html>

<head>
    <title>DownBad</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <div class="app-header">
        <a href="game">
            <img class="title-img" src="/images/wer.jpg" alt="wer" style="cursor:pointer;">
        </a>
        <h1>Hello DownBad World!</h1>
        <p>This is your capitan Cloud.</p>
        <p>This website is still under construction.</p>
        <p>But you can still visit my <a href="https://www.aliraza.cloud" target="_blank">personal website</a>.</p>
        <p>Click the image ^, i dare you.</p>
    </div>
</body>

</html>