<!DOCTYPE html>
<html>

<head>
    <title>DownBad</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/index.css">

</head>

<body>
    <div class="app-header">
        <a href="https://script.google.com/macros/s/AKfycbzQWpMdLc5X4_st_pRHJ_irCyxEokufjQaCYNvJXudg03UbclY_wyv86vktPXeyasg/exec"
            target="_blank">
            <img src="/images/7.jpg" alt="DownBad Logo" class="logo" style="width:300px;height:300px;">
        </a>
        <h1>DownBad World!</h1>
        <p>This is your capitan Cloud.</p>
        <p>Find below a set of apps and games.</p>
        <p>Visit my <a href="https://www.aliraza.cloud" target="_blank">personal website</a> for more about me.</p>
        <div class="game-buttons">
            <button id="game-btn" onclick="window.location.href='/mp_snake'">Snake Game</button>
            <button id="aigame-btn" onclick="window.location.href='/ai_snake'">Snake Game vs AI</button>
            <button id="firefly-btn" onclick="window.location.href='/firefly'">Firefly - Dynamic Screensaver</button>
            <button id="pixel_art-btn" onclick="window.location.href='/pixel_art'">Generative Pixel-Art</button>
            <button id="chatgpt-btn" onclick="window.location.href='/gpt_guide'">ChatGPT - College Guide</button>
        </div>
    </div>
</body>
</html>