<!DOCTYPE html>
<html lang="en">

<head>
    <title>Online Multiplayer Snake Game</title>
    <meta name="description" content="Play Snake online with a friend. Share a link to join the same game room!">
    <%- include('partials/html_head') %>
    <link rel="stylesheet" href="/css/online_snake.css">
</head>

<body>
    <header class="header">
        <div class="header-content">
            <img src="/images/online_snake.webp" alt="Online Multiplayer Snake Game" class="game-image">
            <h1>Online Multiplayer Snake</h1>
            <p>Play Snake online with a friend. Share a link to join the same game room!</p>
        </div>
    </header>
    <main>
        <div class="button-container">
            <button id="create-room-button" onclick="createRoom()" target="_blank">Create Room</button>
        </div>
        <div class="game-info">
            <div class="game-description">
                <h2>About the Game</h2>
                <p>This is a fun and competitive online multiplayer snake game. You can create a game room and share the link with a friend to join the same game room. Both players can then compete to eat the apples and score points.</p>
                <h2>Instructions</h2>
                <ul>
                    <li>Create a game room by clicking the "Create Room" button.</li>
                    <li>Share the generated room link with a friend.</li>
                    <li>Once both players have joined, the game can be started.</li>
                    <li>Use arrow keys or swipe to control your snake.</li>
                    <li>The game can be paused and resumed using the buttons.</li>
                    <li>The first player to reach the winning score wins the game.</li>
                </ul>
            </div>
        </div>
    </main>
    <script src="/js/online_snake.js"></script>
</body>

</html>
