<!DOCTYPE html>
<html>
<head>
  <title>Snake Game</title>
  <link rel="stylesheet" type="text/css" href="/css/snake-game.css">
</head>
<body>
  <div id="join-form">
    <input type="text" id="name-input" placeholder="Enter your name">
    <button id="join-button">Join</button>
  </div>
  <div id="game-box"></div>
  <div id="score-display"></div>
  <div id="queue-display"></div>
  <script src="/js/snake-game.js"></script>
</body>
</html>
