<!DOCTYPE html>
<html>
<head>
    <title>Sound Box</title>
    <link rel="stylesheet" href="/css/soundbox.css">
</head>
<body>
    <button id="calibrationButton">Calibrate</button>
    <div id="dropBox">
        Drop your audio files here or click to select files
        <input type="file" id="fileInput" style="display: none;" accept="audio/*" multiple>
    </div>
    <div id="sound-box">
        <!-- Audio elements and number buttons will be added here dynamically -->
    </div>

    <!-- Master volume slider -->
    <input id="master-volume" type="range" min="0" max="1" step="0.01" value="1">

    <script src="/js/soundbox.js"></script>
</body>
</html>
