.container {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

.title-text {
    font-size: 50px;
    font-family: sans-serif;
    color: #ffffff;
    background: linear-gradient(to right, #7a83ff, #53c0ff);
    text-shadow: 2px 2px 4px #6fff9a;
    border-radius: 5px;
    /* align the button in this h1 to the center of the text */
    display: flex;
    justify-content: center;
    align-items: center;
}

.down-btn {
    background-color: #b1ffcf;
    /* background-color: #e6b0ff; */
    align-self: stretch;
    border: 0px solid #edffee;
    border-radius: 5px;
    box-shadow: 2px 2px 1px #000000;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 25px;
}

.metronome {
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 2px 2px 1px #000000;
    margin-left: 10px;
    width: 95%;
}

button {
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 2px 2px 1px #000000;
    font-size: 15px;
    margin-left: 10px;
}

select {
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 2px 2px 1px #000000;
    font-size: 15px;
    margin-left: 10px;
}

input {
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 15px;
    margin-left: 10px;
    -webkit-appearance: none;
    width: 95%;
}