/* public/css/game_v1.css */

#game {
    text-align: center;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    color: aliceblue;
}

canvas {
    display: block;
    margin: 0 auto 20px;
    border: 1px solid #555;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

/* public/css/game.css */

/* ... previous styles ... */

#home-btn, #instructions-btn {
    position: fixed;
    top: 10px;
    font-size: 14px;
    padding: 5px 10px;
}

#home-btn {
    left: 10px;
}

#instructions-btn {
    right: 10px;
}

/* Popup styles */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.popup-content {
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    }
    
    .popup-content h2 {
    margin-top: 0;
    }
    
    .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    }
    
    .close:hover {
    color: black;
    }
