/* public/css/index.css */

.title-img {
    width: 300px;
    height: 150px;
    border-radius: 25%;
}

.app-header {
    /* make everythign align center */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}