
body {
    font-family: 'Roboto', sans-serif;
    background-color: #487346;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevents scroll bars */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ensures the body takes the full height of the viewport */
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

button:hover {
    background-color: #45a049;
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

#home-btn,
#instructions-btn {
    background-color: #af704c;
    position: absolute;
    top: 20px;
    font-size: 14px;
    padding: 10px 15px;
}

#home-btn {
    left: 25px;
}

#instructions-btn {
    right: 25px;
}

/* Game Container */
#game {
    text-align: center;
    background-color: #11101081;
    padding: 20px;
    border-radius: 5px;
    color: #F5F5F5;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 600px;
    height: 100%;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Canvas */
canvas {
    background-color: #3b3b3be7;
    display: block;
    margin: 0 auto 20px;
    border: 2px solid #555;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* Popup styles */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.popup-content {
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.popup-content h2 {
    margin-top: 0;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: black;
}

/* Score Styles */
#score-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    padding: 10px;
    background-color: #11101081;
    border-radius: 5px;
    color: #F5F5F5;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.player-score {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 20px;
}

.score-circle {
    width: 40px; /* Adjusted size */
    height: 40px; /* Adjusted size */
    border-radius: 10px; /* Rounded corners */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3a71e8; /* Default color */
}


.score-text {
    font-size: 24px;
    color: white;
    font-weight: bold;
}

.score-label {
    font-size: 14px;
    margin-top: 5px;
}



/* Responsive Design */
@media (max-width: 768px) {
    #game {
        width: 90%;
        height: auto;
        padding: 10px;
    }

    canvas {
        width: 100%;
        height: auto;
    }

    #score-container {
        flex-direction: column;
        gap: 10px;
    }
}
