body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #333, #444);
    color: #fff;
    font-family: Arial, sans-serif;
    position: relative;
}

#homeButton,
#calibrationButton {
    position: absolute;
    top: 10px;
    padding: 10px;
    background-color: #555;
    color: #fff;
    border: none;
    cursor: pointer;
}

#homeButton:hover,
#calibrationButton:hover {
    background-color: #777;
}

#homeButton {
    left: 10px;
}

#calibrationButton {
    right: 10px;
}

/* Rest of the CSS... */

#dropBox {
    width: 300px;
    height: 300px;
    border: 2px dashed #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    cursor: pointer;
    padding: 20px;
    text-align: center;
}

#dropBox:hover {
    background-color: #444;
}

#sound-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#sound-box button {
    margin: 10px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #555;
    color: #fff;
    border: none;
}

#sound-box button:active,
#sound-box button.active {
    background-color: #777;
}

#master-volume {
    width: 80%;
    margin-top: 20px;
}

#soundPackButton, #recordButton {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #555;
    color: #fff;
    border: none;
    cursor: pointer;
}
